header {
  width: 100%;
  background: var(--bg-color-one);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-container {
  max-width: var(--sec-maxw);
  margin: 0 auto;  
  height: 80px;
  padding: 0 var(--dgl-px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 20px;
}

.header-nav {
  display: flex;
  height: 100%;
}

.header-nav > a {
  display: flex;
  color: var(--text-color-one);
  align-items: center;
  font-size: 14px;
  height: 100%;
  margin: 0 15px;
  position: relative;
}

.header-nav > a:hover {
  color: var(--text-color-two);
}

.header-nav > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, var(--btn-color), var(--bg-color));
  opacity: 0;
}

.header-nav > a:hover::after {
  opacity: 1;
}

.cta {
  padding: 14px 36px;
  background: linear-gradient(to right, var(--btn-color), var(--bg-color));
  font-weight: 600;
  font-size: 14px;
  color: var(--bg-color-one);
  border-radius: 50px;
}

.cta:hover {
  opacity: 0.7;
}

.mobile-nav-toggle {
  display: none;
}

.mobile-nav-wrapper {
  display: none;
}

main {
  width: 100%;
  overflow: hidden;
}

.hero-wrapper {
  width: 100%;
  background: var(--bg-color-one);
}

.hero-container {
  position: relative;
  max-width: var(--sec-maxw);
  padding: 0 var(--dgl-px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 670px;
}

.hero-content {
  flex: 1;
}

.hero-mock {
  width: 47%;
  z-index: 1;
  margin-bottom: -100px;
}

.hero-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3%;
  right: -43%;
  background: center no-repeat url(../images/bg-intro-desktop.svg);
}

.hero-hd-text {
  font-size: 55px;
  font-weight: 300;
  max-width: 500px;
  color: var(--text-color-two);
}

.hero-info-text {
  max-width: 450px;
  font-size: var(--p-font);
  line-height: 1.5;
  color: var(--text-color-one);
  margin: 25px 0;
}

.services-wrapper {
  width: 100%;
  background: var(--bg-color-two);
}

.services-container {
  max-width: var(--sec-maxw);
  padding: 120px var(--dgl-px) 50px;
  margin: 0 auto;
  position: relative;
}

.services-intro-hd {
  font-size: 50px;
  font-weight: 300;
  color: var(--text-color-two);
}

.services-intro-info {
  max-width: 650px;
  font-size: 17px;
  line-height: 1.5;
  color: var(--text-color-one);
  margin: 25px 0;
}

.services-cards-group {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-card {
  width: 245px;
}

.service-icon {
  margin-bottom: 30px;
}

.service-title {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  color: var(--text-color-two);
}

.service-info {
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-color-one);
}

.articles-section-wrapper {
  width: 100%;
  background: var(--bg-color-one);
  position: relative;
  z-index: 1;
}

.articles-section-container {
  max-width: var(--sec-maxw);
  padding: 80px var(--dgl-px);
  margin: 0 auto;
}

.articles-section-title {
  font-size: 40px;
  font-weight: 300;
  color: var(--text-color-two);
}

.articles-cards-group {
  display: flex;
  padding: 45px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article-card {
  width: 270px;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
}

.article-card-cover-image {
  width: 100%;
  height: 200px;
}

.article-card-cover-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article-card-content {
  padding: 30px 20px 20px;
}

.article-author {
  font-size: 11px;
  font-weight: 300;
  color: var(--text-color-one);
}

.article-title {
  display: block;
  font-size: 17px;
  font-weight: 300;
  color: var(--text-color-two);
  margin: 12px 0;
}

.article-card:hover .article-title {
  color: var(--btn-color);
}

.article-intro {
  font-size: 13px;
  font-weight: 300;
  /* max-width: 200px; */
  line-height: 1.5;
  color: var(--text-color-one);
}

footer {
  width: 100%;
  background: var(--text-color-two); 
}

.footer-container {
  max-width: var(--sec-maxw);
  padding: 50px var(--dgl-px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.logo-and-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-right: 150px;
}

.socials {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.socials > a:hover path {
  fill: var(--btn-color);
}

.footer-navs {
  display: flex;
  height: 90px;
  flex: 1;
  /* justify-content: space-around; */
}

.footer-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 0 100px; */
}

.footer-nav:first-of-type {
  margin-right: 150px;
}

.footer-nav > a {
  color: var(--bg-color-one);
  font-size: 14px;
  font-weight: 300;
}

.footer-nav > a:hover {
  color: var(--btn-color);
}


.cta-and-rights {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 90px;
  justify-content: space-between;
}

.copyright {
  color: var(--text-color-one);
  font-size: 14px;
}

.attribution {
  width: 100%;
  background: var(--btn-color);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #000;
}

.attribution > a {
  color: var(--text-color-two);
}