@media screen and (max-width: 768px) {
  .header-container > div:last-child {
    display: none;
  }

  main::after {
    display: none;
  }

  .hero-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
    margin-top: -15%;
    padding-bottom: 100px;
  }

  .hero-container::before {
    top: 0;
    right: 0;
    background: center 15%/contain no-repeat url(../images/bg-intro-mobile.svg);
  }

  .hero-content {
    flex: initial;
    z-index: 1;
    margin-top: 20px;
  }
  
  .hero-mock {
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .hero-img {
    width: 109%;
  }

  .hero-content > p {
    text-align: center;
  }

  .hero-hd-text {
    font-size: 50px;
  }

  .hero-info-text {
    font-size: 17px;
    max-width: 400px;
    margin: 23px auto 30px;
  }

  .hero-cta {
    margin: 0 auto;
  }

  .services-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-intro-info {
    text-align: center;
  }

  .services-cards-group {
    justify-content: space-around;
  }

  .service-card {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-icon {
    margin: 0;
  }

  .service-title {
    margin: 20px 0;
  }

  .service-info {
    text-align: center;
  }

  .articles-section-title {
    text-align: center;
  }

  .articles-cards-group {
    justify-content: space-around;
  }

  .article-card {
    width: 300px;
    margin-bottom: 40px;
  }
}
