* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter';
}

:root {
  --bg-color-one: hsl(0, 0%, 100%);
  --text-color-one: hsl(233, 8%, 62%);
  --text-color-two: hsl(233, 26%, 24%);
  --bg-color-two: hsl(220, 16%, 96%);
  --bg-color: hsl(192, 70%, 51%);
  --btn-color: hsl(136, 65%, 51%);
  --p-font: 1.1rem;
  --big-font: 4rem;
  --h3-font: 1.5rem;
  --mgl-px: 30px;
  --sec-maxw: 1150px;
  --dgl-px: 25px;
}

html, body {
  width: 100%;
  height: 100%;
}

a, button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
  border: none;
  display: block;
}

header {
  width: 100%;
  background: var(--bg-color-one);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-container {
  max-width: var(--sec-maxw);
  margin: 0 auto;  
  height: 80px;
  padding: 0 var(--dgl-px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 20px;
}

.header-nav-desktop {
  display: flex;
  height: 100%;
}

.header-nav-desktop > a {
  display: flex;
  color: var(--text-color-one);
  align-items: center;
  font-size: 14px;
  height: 100%;
  margin: 0 15px;
  position: relative;
}

.header-nav-desktop > a:hover {
  color: var(--text-color-two);
}

.header-nav-desktop > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, var(--btn-color), var(--bg-color));
  opacity: 0;
}

.header-nav-desktop > a:hover::after {
  opacity: 1;
}

.cta {
  padding: 14px 36px;
  background: linear-gradient(to right, var(--btn-color), var(--bg-color));
  font-weight: 600;
  font-size: 14px;
  color: var(--bg-color-one);
  border-radius: 50px;
}

.cta:hover {
  opacity: 0.7;
}

.mobile-nav-toggle {
  display: none;
}

main {
  width: 100%;
  overflow: hidden;
  position: relative;
}



.hero-wrapper {
  width: 100%;
  background: var(--bg-color-one);
}

.hero-container {
  max-width: var(--sec-maxw);
  padding: 130px var(--dgl-px) 200px;
  margin: 0 auto;
  margin-top: 80px;
}

main::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: -42%;
  background: 30% -50px no-repeat url(./images/image-mockups.png), 0% -190px no-repeat url("./images/bg-intro-desktop.svg");
}

.hero-hd-text {
  font-size: 55px;
  max-width: 500px;
  color: var(--text-color-two);
}

.hero-info-text {
  max-width: 450px;
  font-size: var(--p-font);
  line-height: 1.5;
  color: var(--text-color-one);
  margin: 25px 0;
}

.services-wrapper {
  width: 100%;
  background: var(--bg-color-two);
}

.services-container {
  max-width: var(--sec-maxw);
  padding: 120px var(--dgl-px) 50px;
  margin: 0 auto;
}

.services-intro-hd {
  font-size: 50px;
  color: var(--text-color-two);
}

.services-intro-info {
  max-width: 650px;
  font-size: 17px;
  line-height: 1.5;
  color: var(--text-color-one);
  margin: 25px 0;
}

.services-cards-group {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
}

.service-card {
  width: 250px;
}

.service-icon {
  margin-bottom: 30px;
}

.service-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--text-color-two);
}

.service-info {
  font-size: 15px;
  line-height: 1.5;
  color: var(--text-color-one);
}

.articles-section-wrapper {
  width: 100%;
  background: var(--bg-color-one);
}

.articles-section-container {
  max-width: var(--sec-maxw);
  padding: 80px var(--dgl-px);
  margin: 0 auto;
}

.articles-section-title {
  font-size: 40px;
  color: var(--text-color-two);
}

.articles-cards-group {
  display: flex;
  padding: 45px 0;
  justify-content: space-between;
}

.article-card {
  width: 255px;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
}

.article-card-cover-image {
  width: 100%;
  height: 200px;
}

.article-card-cover-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article-card-content {
  padding: 20px 20px;
}

.article-author {
  font-size: 12px;
  color: var(--text-color-one);
}

.article-title {
  display: block;
  font-size: 20px;
  color: var(--text-color-two);
  margin: 14px 0;
}

.article-card:hover .article-title {
  color: var(--btn-color);
}

.article-intro {
  font-size: 13px;
  line-height: 1.5;
  color: var(--text-color-one);
}